
*{
  margin: 0;
  padding: 0;
 }
 .navbar{
       width: auto;
      height: 50px;
      box-shadow: 3px 0px 10px #0c1524;
      background-color: rgb(23, 23, 164);
 }
 span{
  position: relative;
  top: 10px;
  float:right;
 }
span a{
      text-decoration: none;
      color:#fff ;
      padding:3vw;

}
nav img{
width: 32px;
height: 32px;
margin: 10px;
}
.lost{
    text-decoration: underline;
    text-align: center;
    margin-top: 30px;
    color: #0c2550;
    font-size: medium;
}

.cards{
  z-index:0;
  display:flex; 
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  }
  .card1{
    z-index: 0;
  height: 300px;
  width: 200px;
  display: flex;
  align-items: flex-start;
  display: inline-flex; 
  flex-direction: column;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 3px 4px 4px 4px rgb(221, 221, 231);
  background-color: #ffffff;
  background-size: cover;
  margin: 10px 0px 0px 10px;
  
  
  
  
  
  }
  
  
  .card1 img{
  width: 200px;
  height: 200px;
  transform: scale(1);
  }
  .card1 img:hover{
  
    transform: scale(1.2);
  }
  .card1 h1{
  padding: 10px;
  text-decoration: none;
  font-size: 19px;
  text-align: center;
  
  }
  .card1 button{
  color: #ffffff;
  margin-top: 10px;
  border-radius: 15px;
  background-color: rgb(23, 23, 164);;
  width: 50px;
  transform: scale(1);
  }
  .card1 button:hover{
    transform: scale(1.6);
  
  }
  .address{
  padding-top: 10px;
  display:flex; 
  }
  .address img{
  
  
   left: 0px;
   width: 18px;
   height: 18px;
   top: 49%;
   transform: scale(1);
  box-shadow: none;
  margin-top: 0px;
  
  }
  .address img:hover{
    transform: scale(1.6);
  
  
  }
  
  
  
  
  
   .address img::before,
   .address img::after{
    content: '';
    position: absolute;
	  width: 18px;
     height: 18px;
	  left: 0;
  
    background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
   }
 
   .address img:hover{
  
    left: 0px;
    width: 34px;
    height: 34px;
    top: 50%;
  
    
  }
   h2{
   margin: auto;
   
     font-size: medium;
     align-items: center;
   }
    b{
   
     text-decoration: none;
     font-style: normal;
     font-size: 15px;
   color: rgb(0, 0, 0);
   font-weight: 100;
   
   
   }
   h3{
margin: 3px 0px;
    letter-spacing: -1px;
     text-decoration: none;
      font-style: normal;
      font-size: 17px;
   color: rgb(8, 8, 8);
   
   
   
   }
   .address{
     padding-top: 10px;
     width: 100%;
position: relative;
     padding-left: 0px;
    
   
   }
   i{

      position:absolute;
    right: 0px;
   }